In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
dataset=pd.read_csv("Transformed_Housing_Data2.csv")

In [2]:
dataset.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900,3,1.00,1180,5650,1.0,0,7,1180,0,...,0,0,0,0,0,0,0,0,0,0
1,538000,3,2.25,2570,7242,2.0,0,7,2170,400,...,0,0,1,0,0,0,0,0,0,0
2,180000,2,1.00,770,10000,1.0,0,6,770,0,...,0,0,1,0,0,0,0,0,0,0
3,604000,4,3.00,1960,5000,1.0,0,7,1050,910,...,0,0,0,1,0,0,0,0,0,0
4,510000,3,2.00,1680,8080,1.0,0,8,1680,0,...,0,0,0,0,1,0,0,0,0,0

In [3]:
# Splitting data set into two:dependent and independent variables
#we have only one target variable sale price indexed as 0:-
Y = dataset.iloc[:,0]

In [4]:
X = dataset.iloc[:,1:31]
# last index will not be considered

In [5]:
X.head()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,3,1.00,1180,5650,1.0,0,7,1180,0,63,...,0,0,0,0,0,0,0,0,0,0
1,3,2.25,2570,7242,2.0,0,7,2170,400,67,...,0,0,1,0,0,0,0,0,0,0
2,2,1.00,770,10000,1.0,0,6,770,0,85,...,0,0,1,0,0,0,0,0,0,0
3,4,3.00,1960,5000,1.0,0,7,1050,910,53,...,0,0,0,1,0,0,0,0,0,0
4,3,2.00,1680,8080,1.0,0,8,1680,0,31,...,0,0,0,0,1,0,0,0,0,0

In [6]:
#splitting into train and test data 
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [8]:
X_train.shape

(15126, 30)

In [9]:
X_test.shape

(6483, 30)

In [10]:
Y_train.shape

(15126,)

In [11]:
Y_test.shape

(6483,)

Standardisation

In [12]:
from sklearn import preprocessing
scale=preprocessing.StandardScaler()

In [13]:
# fitting and transforming data for the x_train
X_train=scale.fit_transform(X_train)

In [14]:
X_train

array([[-0.40787375,  0.50629609,  0.01028071, ..., -0.11487294,
        -0.16837455, -0.04884348],
       [ 0.69342907, -0.14149909, -0.08737375, ..., -0.11487294,
        -0.16837455, -0.04884348],
       [ 0.69342907,  0.50629609,  1.29063925, ..., -0.11487294,
        -0.16837455, -0.04884348],
       ...,
       [ 0.69342907,  1.80188647,  2.45164233, ..., -0.11487294,
        -0.16837455, -0.04884348],
       [ 0.69342907,  2.44968166,  2.47334332, ..., -0.11487294,
         5.93913978, -0.04884348],
       [ 0.69342907,  1.15409128,  1.34489173, ..., -0.11487294,
        -0.16837455, -0.04884348]])

In [15]:
X_test=scale.fit_transform(X_test)
X_test

array([[-0.37969931,  1.46579175, -0.76691048, ..., -0.10597498,
        -0.16995383, -0.04652061],
       [ 0.64170759,  1.13932727,  0.23242874, ..., -0.10597498,
        -0.16995383, -0.04652061],
       [-1.40110621,  0.8128628 , -0.53629374, ..., -0.10597498,
        -0.16995383, -0.04652061],
       ...,
       [-0.37969931, -0.49299509,  0.52893598, ..., -0.10597498,
        -0.16995383, -0.04652061],
       [ 1.66311448,  0.48639833,  0.49599073, ..., -0.10597498,
        -0.16995383, -0.04652061],
       [-2.4225131 , -1.47238851, -1.39287021, ..., -0.10597498,
        -0.16995383, -0.04652061]])